<div class="col-lg-8 col-lg-offset-2 main-form" style="clear:both;" ng-controller="entitySubmissionController">
    <h2>Entity Submission</h2>
    <p>To start the creation and submission of a new entity, please fill out the form below:</p>
    <form class="entity-submission-form">
        <div class="initial-entity-name-submission">
            <div class="form-group" ng-class="{'has-error' : entitySubmitNameResponse.code === 0 , 'has-success': entitySubmitNameResponse.code === 1}">
                <label for="entityName">Entity Name:</label>
                <input class="form-control" name="entityName" ng-model="entityName" placeholder="eg. McDonald's" ng-change="searchEntities()" ng-disabled="entitySubmitNameResponse.code === 1">
                <span class="help-block">{{entitySubmitNameResponse.message}}</span>
            </div>
        <button ng-if="entitySubmitNameResponse.code !== 1" type="submit" class="btn btn-success" ng-click="submitNewEntity()">Submit New Entity</button>            
        <button ng-if="entitySubmitNameResponse.code == 1" type="submit" class="btn btn-info" ng-click="skipSubsequent()">Skip this Step</button>
        </div>
        <div class="subsequent-entity-info-submission" ng-show="entitySubmitNameResponse.code === 1">
            <h2>Additional Info:</h2>
            <div class="form-group">
                <label for="entityWebsite">Official Website:</label>
                <input class="form-control" name="entityWebsite" ng-model="entityWebsite" placeholder="ex. www.MyCompany.com" />
                <span class="help-block" ng-show="entitySubmitError.entityWebsite">{{entitySubmitError.entityWebsite}}</span>
            </div>
            <div class="form-group">
                <label for="entityDescription">A Short Description of the Entity: (max 500 characters)</label>
                <textarea class="form-control" name="entityDescription" ng-model="entityDescription" placeholder="This organization does ..." ng-maxlength="1000"></textarea>
                <span class="help-block" ng-show="entitySubmitError.entityDescription">{{entitySubmitError.entityDescription}}</span>
            </div>            
            <div class="form-group">
                <label for="entityYearFounded">Year Founded:</label><br>
                <input class="form-control" name="entityYearFounded" ng-model="entityYearFounded"  type="number" max="2016" placeholder="ex. 1956" />
                <span class="help-block" ng-show="entitySubmitError.entityYearFounded">{{entitySubmitError.entityYearFounded}}</span>
            </div>
            <div class="form-group">
                <label for="entityCountryOrigin">Country of Origin:</label><br>
                <country-select class="form-control" name="entityCountryOrigin" ng-model="entityCountryOrigin" cs-priorities="US"></country-select>
                <span class="help-block" ng-show="entitySubmitError.entityCountryOrigin">{{entitySubmitError.entityCountryOrigin}}</span>
            </div>
            <div class="form-group">
                <label for="entityIndustry">Industry:</label>
                <input class="form-control" name="entityIndustry" ng-model="entityIndustry" placeholder="ex. Information Technology" />
                <span class="help-block" ng-show="entitySubmitError.entityIndustry">{{entitySubmitError.entityIndustry}}</span>
            </div>            
        </div>
        <button ng-if="entitySubmitNameResponse.code == 1" type="submit" class="btn btn-primary" ng-click="saveEntityInfo()">Save</button>
    </form>
</div>
